<mat-toolbar role="header" color="primary">
  <button mat-button>
    <span>{{title}}</span>
  </button>
  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button>
    <mat-icon aria-label="Main menu">
      menu
    </mat-icon>
  </button>
</mat-toolbar>

<nav>
  [<a routerLink="/login">Login</a>]
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/users">Users</a>
  <a routerLink="/orgs">Orgs</a>
  <a routerLink="/apps">Apps</a>
  <a routerLink="/apis">Apis</a>
  <a routerLink="/hosts">Hosts</a>
  <a routerLink="/versions">API Versions</a>
</nav>

<div id="r0">
  <router-outlet></router-outlet>
</div>
